<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/css/index.css'>
		<link rel='stylesheet' href='/css/semantic.min.css'>
	</head>
	<body>
		<div id='header'>
			<img class="header item" id='logo' src='../images/matcha.png'>
			<form class="header item" action='/login' method='post' id='signin'>
				<div class="ui left icon input">
					<input class='textbox' type='text' name='login' placeholder='Username'>
					<i class="user icon"></i>
				</div>
				<div class="ui left icon input">
					<input class='textbox' type='password' name='password' placeholder='Password'>
					<i class="lock icon"></i>
				</div>
				<input class='textbox' id='login' type='submit' name='submit' value='Sign in'>
			</form>
		</div>
		<% if (locals.error) { %>
			<div class='ui negative message'>
				<%= locals.error %>
			</div>
		<% } %>
		<div id='signup'>
			<h1>Sign Up</h1>
			<form action='/register' method='post' >
				<input class='textbox' type='text' name='fname' placeholder='First Name'>
				<input class='textbox' type='text' name='lname' placeholder='Last Name'><br/>
				<input class='txtbox' type='text' name='login' placeholder='Username' minlength='5'><br/>
				<label>Birthday</label>
				<select class="ui dropdown" name="bday">
							<option value="">Day</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
					<!-- </div> -->
				<!-- <div class="field"> -->
					<select class="ui dropdown" name="bmonth">
						<option value="">Month</option>
						<option value="1">January</option>
						<option value="2">February</option>
						<option value="3">March</option>
						<option value="4">April</option>
						<option value="5">May</option>
						<option value="6">June</option>
						<option value="7">July</option>
						<option value="8">August</option>
						<option value="9">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
					</select>
				<!-- </div> -->
				<input id='bdaybox' type='text' name='byear' minlength='4' maxlength='4' placeholder='Year'><br />
				<input class='txtbox' type='email' name='email' placeholder='Email'><br/>
				<input class='txtbox' type='password' name='password' placeholder='Password' minlength='6'><br/>
				<select class='txtbox' name='gender' class="ui dropdown">
					<option value="">Gender</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select><br />
				<!-- <input id='gender' type='radio' name='gender' value='Female'><label>Female</label> -->
				<!-- <input id='gender' type='radio' name='gender' value='Male'><label>Male</label><br/> -->
				<input class='txtbox' id='register' type='submit' name='submit' value='Sign Up'>
			</form>
		</div>
	</body>
</html>
