<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/css/index.css'>
		<link rel='stylesheet' href='/css/semantic.min.css'>
	</head>
	<body>
		<div id='header'>
			<img class="header item" id='logo' src='../images/matcha.png'>
			<form class="header item" action='/login' method='post' id='signin'>
				<div class="ui left icon input">
					<input class='textbox' type='text' name='login' placeholder='Username'>
					<i class="user icon"></i>
				</div>
				<div class="ui left icon input">
					<input class='textbox' type='password' name='password' placeholder='Password'>
					<i class="lock icon"></i>
				</div>
				<input class='textbox' id='login' type='submit' name='submit' value='Sign in'>
			</form>
		</div>
		<% if (locals.error) { %>
		<div class='ui negative message'>
			<%= locals.error %>
		</div>
		<% } %>
		<div id='signup'>
			<h1>Sign Up</h1>
			<form action='/register' method='post' >
				<input class='textbox' type='text' name='fname' placeholder='First Name'>
				<input class='textbox' type='text' name='lname' placeholder='Last Name'><br/>
				<span>Age:</span><input class='textbox' type='number' name='age' min='18' max='99'><br/>
				<input class='txtbox' type='text' name='login' placeholder='Username'><br/>
				<input class='txtbox' type='email' name='email' placeholder='Email'><br/>
				<input class='txtbox' type='password' name='password' placeholder='Password'><br/>
				<select class='txtbox' name='gender' class="ui dropdown">
					<option value="">Gender</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select><br />
				<!-- <input id='gender' type='radio' name='gender' value='Female'><label>Female</label> -->
				<!-- <input id='gender' type='radio' name='gender' value='Male'><label>Male</label><br/> -->
				<input class='txtbox' id='register' type='submit' name='submit' value='Sign Up'>
			</form>
		</div>
	</body>
</html>
