<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/css/index.css'>
		<link rel='stylesheet' href='/css/semantic.min.css'>
	</head>
	<body>
		<div id='header'>
			<img class="header item" id='logo' src='../images/matcha.png'>
			<form class="header item" action='/' method='post' id='signin'>
				<input id='textbox' type='text' name='login' placeholder='Username'>
				<input id='textbox' type='password' name='password' placeholder='Password'>
				<input id='textbox' type='submit' name='submit' value='Sign in'>
			</form>
		</div>
		<% if (locals.error) { %>
		<div class='ui negative message'>
			<%= locals.error %>
		</div>
		<% } %>
		<div id='signup'>
			<h1>Sign Up</h1>
			<form action='/' method='post' >
				<input id='textbox' type='text' name='fname' placeholder='First Name'>
				<input id='textbox' type='text' name='lname' placeholder='Last Name'><br/>
				<span>Age:</span><input id='textbox' type='number' name='age' min='18' max='99'><br/>
				<input id='txtbox' type='text' name='login' placeholder='Username'><br/>
				<input id='txtbox' type='email' name='email' placeholder='Email'><br/>
				<input id='txtbox' type='password' name='password' placeholder='Password'><br/>
				<input id='gender' type='radio' name='gender' value='Female'><label>Female</label>
				<input id='gender' type='radio' name='gender' value='Male'><label>Male</label><br/>
				<input id='txtbox' type='submit' name='submit' value='Sign Up'>
			</form>
		</div>
	</body>
</html>
