<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/css/profile.css'>
	<link rel='stylesheet' href='/css/semantic.min.css'>
	<title>Profile</title>
</head>
<body>
	<div id='header'>
		<img class="header item" id='logo' src='../images/matcha.png'>
		<div class="nav">
			<img src='../images/connections.svg' />
			<img src='../images/chat.svg' />
			<img src='../images/notifications.svg' />
			<a href="/logout">
				<img src='../images/logout.svg' />
			</a>
		</div>
	</div>
	<main>
		<header class="ui container" id='top'>
			<div>
				<button id='profilepic'>
					<img class="ui top aligned small circular image" src="https://scontent-vie1-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg"/>
				</button>
				<div>
					<h1>
						<%= locals.user %>
					</h1>
				</div>
			</div>
		</header>
	</main>
</body>
</html>
