<% extend('layout') %>
<section id='top'>
	<div class="ui items">
		<div class="item">
			<!-- <button> -->
			<div id='profile'>
				<img class='ui medium circular image' src="https://cdn.intra.42.fr/users/medium_lvalenti.jpg"/>
			</div>
			<!-- </button> -->
			<div class="content">
				<div class='name'>
		  			<p>
						<h1><%= locals.user%></h1>
						<h1>, 21</h1>
						<% if (gender == 'Male'){%>
							<h1> ♂</h1>
						<% } else {%>
							<h1> ♀</h1>
						<% } %>
					</p>
					<a href='/edit'>
						<button>Edit profile</button>
					</a>
				</div>
				<div class="orientation">
					<h2>Interested in: <%= orientation%></h2>
				</div>
				<div class="score">
					<h3>Score: 7.8</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<section id='top'>
	<div>
		<h1><%= firstName + ' ' + lastName%></h1>
		<% if (bio) {%>
			<p>
				bio
			</p>
		<% } %>
		<img class='picture' src='https://scontent-cdg2-1.cdninstagram.com/t51.2885-15/e35/16110482_776345915848356_5698877480975204352_n.jpg'/>
		<img class='picture' src='https://scontent-cdg2-1.cdninstagram.com/t51.2885-15/e35/16110482_776345915848356_5698877480975204352_n.jpg'/>
		<img class='picture' src='https://scontent-cdg2-1.cdninstagram.com/t51.2885-15/e35/16110482_776345915848356_5698877480975204352_n.jpg'/>
		<img class='picture' src='https://scontent-cdg2-1.cdninstagram.com/t51.2885-15/e35/16110482_776345915848356_5698877480975204352_n.jpg'/>
	</div>
</section>
<section id='top'>
	<div>
		<h1>Interests</h1>
		<div class="ui blue labels">
			<a class="ui label">
				#Fun
			</a>
			<a class="ui label">
				#42
			<div class="detail">22</div>
			</a>
		</div>
	</div>
</section>
