<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/css/profile.css'>
	<link rel='stylesheet' href='/css/semantic.min.css'>
	<title>Profile</title>
</head>
<body>
	<div id='header'>
		<img class="header item" id='logo' src='../images/matcha.png'>
		<a href="logout">
			<img class='roundbutton' src='../images/logout.svg' />
		</a>
		<img class='roundbutton' src='../images/connections.svg' />
		<img class='roundbutton' src='../images/chat.svg' />
		<img class='roundbutton' src='../images/notifications.svg' />
	</div>
</body>
</html>
