label{
	font-size: 14px;
	line-height: 14px;
	padding: 0 15px 0 10px;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
}
span{margin-right: 25px;}
#gender{
	margin: 10px;
}

#header{
	border-bottom: 1px solid rgba(0,0,0,.0975);
	display: block;
	background-color: #ffffff;
}

#logo, #signin{
	display: inline;
	padding: .92857143em 1.14285714em;
}

#signin{
	float: right;
	margin-right: 50px;
	padding-top: 30px;
	font-weight:700;
}

#logo{
	margin-left: 3%;
	width: auto;
	height: 80px;
}

.textbox{
	margin-bottom: 3px;
	font-size: 14px;
	padding:9px 8px 7px;
	border:1px solid #dbdbdb;
	border-radius: 3px;
}

#bdaybox{
	margin-bottom: 3px;
	width: 111px;
	font-size: 14px;
	padding:9px 8px 7px;
	border:1px solid #dbdbdb;
	border-radius: 3px;
}

.txtbox{
	margin-bottom: 3px;
	width: 334px;
	font-size: 14px;
	padding:9px 8px 7px;
	border:1px solid #dbdbdb;
	border-radius: 3px;
}

#signup{
	padding-top: 50px;
	float: right;
	margin-right: 50px;
}
